.light {
    background: grey;
    opacity: 97%;
}
 .light-header {
    font-size: 35px;
    border-bottom: whitesmoke solid 5px;
    text-shadow: 2px 2px whitesmoke;
    padding-bottom:0;
}
.blog-content {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    margin-bottom: 2px;
    height:175px;
}
.blog-content h2 {
    border: 4px solid black;
    width: 300px;
    text-align: center;
}
.link {
    text-decoration: underline;
    color: black;
}
#back-btn:visited {
    color:black;
    text-decoration: underline;
}
#back-btn {
    float: right;
    display:flex;
    flex-direction: row-reverse;
}
.switch {
    float: right;
    width: 60px;
    height: 34px;
  }

/* Need to add Icon to toggle dark mode/light mode*/

#theme-switcher {
   float: right;
   margin-right: 5px;
}
   .dark-mode {
       color: white;
       background-color: black;
}   
.dark-header {
    text-shadow: none;
}
.dark-link {
    color: whitesmoke;
}
